<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics - Forms input binding</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css"
      rel="stylesheet"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"
      defer
    ></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="card">
              <header class="card-header">
                <h2 class="card-header-title">Root</h2>
              </header>
              <div class="card-content">
                <div class="columns">
                  <div class="column">
                    <input
                      type="number"
                      class="input is-warning"
                      v-model.number="total"
                    />
                    <hr />
                    <button class="button is-info" @click="incrementTotal">
                      Increment Data From root
                    </button>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <header class="card-header">
                <h2 class="card-header-title">Component 'button-counter'</h2>
              </header>
              <div class="card-content">
                <button-counter
                  @decrement="decrementTotal"
                  :text="total"
                ></button-counter>
               
              </div>
            </div>
          </div>
          <div class="column">
            <child :text="total" @increment="incrementTotal"></child>
          </div>
        </div>
      </div>
    </div>

    <template id="test">
      <div class="card">
        <header class="card-header">
          <h2 class="card-header-title">Component 'child'</h2>
        </header>
        <div class="card-content">
          <button @click="increment" class="button is-info">
            Increment from another Component:
          </button>
          <span class="tag is-warning is-medium">{{ text }}</span>
          
        </div>
      </div>
    </template>
  </body>
</html>
