<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics - Forms input binding</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <div id="app">
        <h1>{{ greeting }}</h1>
  
  <span v-text="question"></span>
  
  <section class="demo-section">
    <my-global-component inline-template>
      <h2>{{ title }}</h2>
    </my-global-component>
  </section>
  
  <section class="demo-section">
    <my-local-component inline-template>
      <h2>{{ title }}</h2>
    </my-local-component>
  </section>
    </div>    
  </body>
  </html>
