<template>
  <div>
    <h1>Home</h1>
    <p>This is the Home!</p>
    <router-link v-for="page in pages" :key="page" :to="{name:'data', params: { id: page }}">
      <button class="button" type="button">Display id {{page}}</button>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data(){
    return {
      pages: [123, 345, 65]
    }
  }
}
</script>

<style scoped>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
</style>
