<template>
  <div id="app">
    <h1>{{ hello }} </h1>
    <MainComponent msg="Welcome from this component"/>
    <MainComponent msg="Another welcome from another instance of the same component"/>
  </div>
</template>

<script>
import MainComponent from './components/MainComponent.vue'

export default {
  name: 'App',
  components: {
    MainComponent
  },
  data(){
    return {
      hello: 'hello from the Vue app'
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
